@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(245, 208, 78);
    background-size: cover;
    font-family: 'Rubik';
}

